<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainstyle.css') }}" >
    <!-- <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainstyle.css') }}" > -->
    <title>Document</title>
</head>
<body>
    <div>
        <div class="rolling_pictures">
            <marquee behavior="alternate" contenteditable="true" onMouseOut="this.start()" onMouseOver="this.stop()"> 
                <img src="{{ url_for('static',filename='styles/school1.png') }}" width="550" height="320" alt="School 1">
                <img src="{{ url_for('static',filename='styles/school2.png') }}" width="550" height="320" alt="School 2">
                <img src="{{ url_for('static',filename='styles/school3.png') }}" width="550" height="320" alt="School 3">
                <img src="{{ url_for('static',filename='styles/school4.png') }}" width="550" height="320" alt="School 4">
                <img src="{{ url_for('static',filename='styles/school5.png') }}" width="550" height="320" alt="School 5">
                </marquee>
            <p class="welcome">Welcome to the upcoming graduate student!<p>
        </div>

        
    </div>
    
    <div class = "introduction">
        <p>You have done a great job and next step, leave it to us!<br>
            We are here to help you find the best graduate school for you.<br>
            Click the box below and type in your grades, <br>
            we will help you predict your chances of admission based on the admission data of previous years.<br> 
            
            Our goal is to use data to make the best decision.<br>
            </p>
    </div>

    <form action="" method="post">
        <input class="btn btn-hero" type="submit" name="submit" value="Begin Prediction">
    </form>
        
    

    <div class="details">
        <p>View the details of the admission
            data authorized by schools
           </p>
           <p>
               hyperlink:UCLA
               <!-- needs to add -->
           </p>
    </div>
    
    
</body>
</html>