<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/predictstyle.css') }}" >
    </head>
    <body>
        <div>
            <div class="bg bg-blur"></div>
            <div class="content content-front-1"><h1 class ="item">University Admission Prediction</h1></div>
            <div class="content content-front-2">
                    <form action="/result" method="get">
                    <p><span class = "item">Target Graduate School:</span>
                        <select name = "targetschool">
                            <option value = "UCLA">UCLA</option>
                        </select><br>
                    </p>

                    <p><span class='item' id='gpa'>GPA: </span><input type="text" autocomplete="off" name="GPA" required placeholder="3.3"><br></p>
                   
                    <p><span class='item'>GRE: </span><input type="text" autocomplete="off" name="GRE" required placeholder="310"><br></p>
                    
                    <p><span class='item'>TOEFL: </span><input type="text" utocomplete="off" name='TOEFL' required placeholder="90"><br></p>
                    
                    <p><span class='item'>University Ranking From US News: </span>
                    <select name = "university">
                        <option value = "5">1-20</option> 
                        <option value = "4">20-40</option>
                        <option value = "3">40-60</option>
                        <option value = "2">60-80</option>
                        <option value = "1">>80</option>
                    </select><br></p>
                   
                    <p><span class='item'>PS  Strength: </span>
                    <select name = "ps">
                        <option value = "5">Very Strong</option>
                        <option value = "4">Strong</option>
                        <option value = "3">Medium</option>
                        <option value = "2">Not So Competitive</option>
                        <option value = "1">Boring Paper Work</option>
                    </select><br></p>

                    <p><span class='item'>Recommendation Letter Strength: </span>
                        <select name = "rl">
                            <option value = "5">Very Strong</option>
                            <option value = "4">Strong</option>
                            <option value = "3">Medium</option>
                            <option value = "2">Not So Competitive</option>
                            <option value = "1">Boring Paper Work</option>
                        </select><br></p>
                    
                    <p><span class='item'>Research Experience: </span>
                    <select name = "research_experience">
                        <option value = "Yes">Yes</option>
                        <option value = "No">No</option>
                    </select><br></p>
                            
                    <input class="btn btn-hero" type="submit" name="submit" value="Predict">
                    </form>

            </div>
            </div>
           
           
        </div>
    </body>
   <script>

   </script>
    
    
    
</html>